@model BarZ.Areas.Bar_reviews.Models.Bars.ViewModels.BarViewModel

<div class="barIndexModel">
    <h2>@Html.DisplayFor(modelItem => Model.Name)</h2>
    <p class="font-weight-light">
        (@Html.DisplayFor(modelItem => Model.Destination.Name))
    </p>

    <img class="rounded mx-auto d-block barPicture" src="@Url.Content(Model.PictureAdress)" alt="BarPicture">

    <hr />

    Work time:
    @Html.DisplayFor(modelItem => Model.BeginningOfTheWorkDay) -
    @Html.DisplayFor(modelItem => Model.EndOfTheWorkDay)<br />

    <span class="description">@Html.DisplayFor(modelItem => Model.Description)<br /></span>
    <a href="@Html.DisplayFor(modelItem => Model.FacebookPageUrl)">Facebook page</a><br />
    <a class="btnsViewRight" asp-action="Details" asp-route-id="@Model.Id">Details</a>
</div>