@model BarDeleteBindingModel

@{
    ViewData["Title"] = "Delete Bar";
}

<br />
<h3>Are you sure you want to delete @Model.Name?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DestinationName)
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form class="halfScreenBox" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Confirm" class="btn btn-danger w-50" />
    </form>

    <form class="halfScreenBox">
        <a asp-action="Index" class="btn btn-info w-50">Cancel</a>
    </form>

</div>