@model BarViewModel

@{
    ViewData["Title"] = "Details";

}

<h1>Details</h1>

<div>
    <h4>Bar</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Work Time
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BeginningOfTheWorkDay) - 
            @Html.DisplayFor(model => model.EndOfTheWorkDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacebookPageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacebookPageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Destinations" asp-action="Details" asp-route-id="@Model.Destination.Id">@Html.DisplayFor(model => model.Destination.Name)</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
