@model IEnumerable<BarViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Reviews</h1>

<p>
    <a asp-action="Create">Create a review</a>
</p>

<div class="container">
    @foreach (var item in Model)
    {
        <span class="barIndexModel">
            @Html.DisplayFor(modelItem => item.Name)<br />
            (@Html.DisplayFor(modelItem => item.Destination.Name))
            <br />
            Work time:
            @Html.DisplayFor(modelItem => item.BeginningOfTheWorkDay) -
            @Html.DisplayFor(modelItem => item.EndOfTheWorkDay)<br />
            <hr />
            <span class="description">
                @Html.DisplayFor(modelItem => item.Description)<br />
            </span>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </span>
    }
</div>
