@model IEnumerable<BarViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Reviews</h1>

<p>
    <a asp-action="Create">Create a review</a>
</p>

<div class="container">
    @foreach (var item in Model)
    {
    <span class="barIndexModel">
        <h2 border="10px solid green">@Html.DisplayFor(modelItem => item.Name)</h2>
        <p class="font-weight-light">(@Html.DisplayFor(modelItem => item.Destination.Name))</p>

        <img class="rounded mx-auto d-block barPicture" src="@Url.Content(item.PictureAdress)" alt="BarPicture">

        <hr />

        Work time:
        @Html.DisplayFor(modelItem => item.BeginningOfTheWorkDay) -
        @Html.DisplayFor(modelItem => item.EndOfTheWorkDay)<br />

        <span class="description">@Html.DisplayFor(modelItem => item.Description)<br /></span>
        <a href="@Html.DisplayFor(modelItem => item.FacebookPageUrl)">Facebook page</a><br />
        
        <a asp-action="Update" asp-route-id="@item.Id">Update</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </span>
    }
</div>
