@model IEnumerable<BarViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="halfScreenBox">
        <h1 display="inline" class="col-md-4">Reviews</h1>
    </div>
    <div class="halfScreenBox">
        <a class="col-md-4 btn btn-info btnsViewRight" asp-action="Create">Create a review</a>
    </div>
</div>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="barIndexModel">
            <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
            <p class="font-weight-light">(@Html.DisplayFor(modelItem => item.Destination.Name))</p>

            <img class="rounded mx-auto d-block barPicture" src="@Url.Content(item.PictureAdress)" alt="BarPicture">

            <hr />

            Work time:
            @Html.DisplayFor(modelItem => item.BeginningOfTheWorkDay) -
            @Html.DisplayFor(modelItem => item.EndOfTheWorkDay)<br />

            <hr />
            <span class="description">@Html.DisplayFor(modelItem => item.Description)<br /></span>
            <a href="@Html.DisplayFor(modelItem => item.FacebookPageUrl)">Facebook page</a><br />

            <div class="btnsViewRight">
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                @if (this.User.IsInRole(RolesConstants.AdminRoleName))
                {
                    <span>|</span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </div>
        </div>
    }
</div>
