@model BarUpdateBindingModel

@{
    ViewData["Title"] = "Update Bar";
}

<div class="container">
    <div class="halfScreenBox">
        <h1>Update @Model.Name</h1>
    </div>
    <div class="halfScreenBox">
        @if (this.User.Identity.IsAuthenticated)
        {
            <a class="col-md-4 btn btn-info btnsViewRight" asp-action="Index">Back to reviews</a>
        }
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input type="file" name="image" value="" />
            </div>
            <div class="form-group">
                <label asp-for="BeginningOfTheWorkDay" class="control-label"></label>
                <input asp-for="BeginningOfTheWorkDay" class="form-control" />
                <span asp-validation-for="BeginningOfTheWorkDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndOfTheWorkDay" class="control-label"></label>
                <input asp-for="EndOfTheWorkDay" class="form-control" />
                <span asp-validation-for="EndOfTheWorkDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="8"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacebookPageUrl" class="control-label"></label>
                <input asp-for="FacebookPageUrl" class="form-control" />
                <span asp-validation-for="FacebookPageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinationId" class="control-label"></label>
                <select asp-for="DestinationId" class="form-control">
                    @foreach (var destination in this.ViewBag.Destinations)
                    {
                        <option value="@destination.Id">@destination.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div>
                <table>
                    <tr>
                        @{
                            int cnt = 0;
                            List<BarFeatureViewModel> features = ViewBag.Features;

                            foreach (var feature in features)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                @:</tr><tr>
                                }
                                @:<td class="col-1">
                                    <input type="checkbox"
                                           name="selectedFeatures"
                                           value="@feature.FeatureId"
                                           @(Html.Raw(feature.Selected ? "checked=\"checked\"" : "")) />
                                    @feature.FeatureName
                                @:</td>
                            }
                        @:</tr>
                        }
                    </table>

                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary w-100" />
                </div>
            </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
